#aroma_heading{
    color:#FFC700;
}

.menu_heading_container{
    margin-top:25px ;
    margin-bottom: 25px;
}

.menu_page_main_wrapper{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
    position: relative;
}
.menu_sale_section{
    width:100%;
    height: 90px;
    background: rgba(253, 237, 255, 0.82);
border-radius: 5px;
}
.promo_code_wrapper{
    width:100%;
    height: inherit;
}
.promo_code_container{
     width:100%;
    height: inherit;
}
.menu_promro_wrapper{
    width: 92px;
    height: 30px;
    border: 2px solid #4F0066;
    border-radius: 10px;
    margin-bottom: 21px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.food_item_wrapper{
    width: 100%;
    height: inherit;
}
.food_item_wrapper>img{
    width: 100%;
    height: 100%;
}
.menu_promo_code_container{
    margin-bottom: 25px;
}
.menu_search_wrapper{
    width:100%;
    height: 30px;
}

.switch {
  position: relative;
  top:4px;
  left:50px;
  display: inline-block;
  width: 12px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: -40px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: -10px;
  bottom: -7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F1F2F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px  #F1F2F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border:8px solid #0A8000;
}

.menu_toggler_heading{
    margin-right: 9px;
}

.menu_toggler_input{
   width: 105px;
height: 30px;
background: #FFFAE6;
border: 2px solid #FFC700;
box-sizing: border-box;
border-radius: 5px;
}
.menu_toggler_input>span{
    margin-left: 8px;
    background: #FFFAE6;
}

.menu_toggler_input>input{
    outline: none;
    border:none;
     width: 65px;
     background: #FFFAE6;
     caret-color: transparent;

}
.menu_toggler_input>input::placeholder{
    font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
background: #FFFAE6;
color: #FFC700;

}

.menu_deals_section{
  margin-top:28px;
  margin-bottom: 28px;
}

.menu_carousel_item{
  width: 218px;
  height: 100px;
  background: #FFFAE6;
border-radius: 5px;
padding-top: 12px;
padding-bottom: 15px;
margin-right: 20px !important;

}

.manu_carousel_text{
  margin-top: 6px;
}
/* 
==================== */

/* 
==================== */

/* 
==================== */

/* 
==================== */

/* 
==================== */


.checkboxFour{
width: 15px;
height: 14.99px;
border: 1px solid #0A8000;
box-sizing: border-box;
background: white;
position: relative;
    }

    /**
     * Create the checkbox button
     */
    .checkboxFour label {
    display: block;
   width: 9px;
height: 9px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
  background: #0A8000;
    }

    /**
     * Create the checked state
     */
    .checkboxFour input[type=checkbox]:checked + label {
    background: red;
    border: 1px solid red;
    }


.checbox_class:checked ~ .checkboxFour_{

  width: 15px;
height: 14.99px;

box-sizing: border-box;

position: absolute;
top: -1px;
left: -1px;
  border: 1px solid red !important;
}

#checkboxFourInput{
   visibility: hidden;
}


.menu_list_heading{
  margin-left: 5px;
  margin-bottom: 5px;
}

.maenu_item_pricing{
  margin-top: 5px;
}


.menu_food_item_img{
  position: relative;
}

.menu_img_btn{
  width: 70px;
height: 25px;
background: #FFC700;
border-radius: 6px;
position: absolute;
bottom: -8px;
left: 10px;

}

.add_menu_txet{
  width: 45px;
  display: flex;
  justify-content: end !important;
  margin-top: 3px;
}

.menu_item_plus{
  width: 25px;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.menu_list_items_main_wrapper{
  margin-top: 29px;
  padding-bottom: 34px;
  border-bottom: 2px solid #DDDEE0;

}

.menu_list_items_main_wrapper:last-child{
    border-bottom:none;
}

.search_modal_boday_input>input{
  width:75vw;
  height: 45px;
  margin-top: 4px;
  margin-bottom: 320px;
  border: 1px solid #F1F2F3;
  background: #F1F2F3;
  border-right: none;
border-radius: 5px;
}

.search_modal_boday_input>input::placeholder{
  font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;

color: #303030;
padding-left: 10px;
}
.search_popup_imagea>img{
  width: 17px;
  height: 17px;
}

.menu_search_modal{
  background: #FFFFFF;
border-radius: 10px 10px 0px
}
.search_popup_imagea{
   margin-top: 4px;
  width: 45px;
height: 45px;
border: 1px solid #FFC700;
background: #FFC700;
border-radius: 5px;
}

.menu_container{
  position: relative;
}

.View_Cart_btn{
  width:90%;
  position: fixed;
 top: 78vh;
  left: 5%;
  height: 45px;
  background: #FCC500;
  border-radius: 5px;
  z-index: 9999;
}

.View_Cart_btn>button{
background: #FCC500;
border-radius: 5px;
 height: 45px;
 border: none;
 font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.item_modal_img{
  margin-bottom: 16px;
}

.tem_modal_text{
  margin-bottom: 15px;
}

.modal_desc_para>p{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
/* or 186% */

display: flex;
align-items: center;

color: #303030;
margin-bottom: 0px !important;
}
.modal_desc_para{
  margin-bottom: 19px;
}
.modal-negative-btn_>button{
  font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #303030;

border-radius: 5px;
padding:11px 23px 11px 23px;
border: none;
background: #FFF5D0;
}
.modal-negative-btn>button{
  background: #FFC700;
border-radius: 5px;
padding:14px 23px 14px 23px;

font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
border: none;
}

.show_payment_btn>button{
  font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

height: 48px;
padding-left: 16px;
padding-right: 16px;

background: #FFC700;
border-radius: 5px;
border: none;
}

.modal_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}